<div class="row">
    <div class="col-md-5 offset md-3 mt-4">
        <h3>Reset your password</h3>
        <form #resetForm="ngForm" (ngSubmit)="onSubmit(resetForm)">
            <div class="mb-3">
              <label for="resetPasswordEmail" class="form-label">Acoount Email</label>
              <input type="email" name="email" ngModel required #email="ngModel"
              class="form-control" id="resetPasswordEmail" placeholder="Please enter email">
            </div>
            <button type="submit" [disabled]="resetForm.invalid"class="btn btn-primary">Reset Password</button>
          </form>
    </div>
</div>