<div class="row">
    <div class="col-md-5 offset md-3 mt-4">
        <h3>Login</h3>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
            <div class="mb-3">
              <label for="loginUsername" class="form-label">Email</label>
              <input type="text" name="username" ngModel required #username="ngModel"
              class="form-control" id="loginUsername" placeholder="Enter Username">
            </div>
            <div class="mb-3">
              <label for="loginPassword" class="form-label">Password</label>
              <input type="password" name="password" ngModel required #password="ngModel"
              class="form-control" id="loginPassword" placeholder="Please enter Password">
            </div>
            <div class="mb-3 form-check">
              <a [routerLink]="['/resetPassword']">Forgot Password</a>
            </div>
            <div>
              <button type="submit" (click)="onSignIn(username.value, password.value)" [routerLink]="['/todo']" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
            </div>        
          </form>
    </div>
</div>